# Install 'center-curosr', 'advnace-open-file'
# Check 'Use fuzzy check' in 'advnaced-open-file'

# Install 'disable-keybinding' package
# Check 'All Bundleed Packages' and 'All Community Packages'
# Fill 'ctrl-k' in 'Prefix Keys'

# Install 'atomic-emacs'
# Check 'Send kills to the system clipboard' and 'Use advanced-open-file for find file if available'
# Uncheck 'Enable' in Keybindings section

# Install: autocomplete-python, highlight-line (enable all style), language-cpp14
# python-indent, python-tools

'atom-workspace atom-text-editor':
  'cmd-u': 'atomic-emacs:capitalize-word-or-region'
  'ctrl-d': 'atomic-emacs:forward-char'
  'ctrl-a': 'atomic-emacs:backward-char'
  'ctrl-x ctrl-s': 'window:save-all'
  'ctrl-x u': 'core:undo'
  'cmd-c': 'unset!'
  'ctrl-k': 'atomic-emacs:kill-line'
  'cmd-9': 'core:move-to-top'
  'cmd-0': 'core:move-to-bottom'
  'ctrl-x h': 'atomic-emacs:mark-whole-buffer'
  'ctrl-space': 'atomic-emacs:set-mark'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-cmd-up': 'editor:toggle-soft-wrap'
  'softWrap': true
  'cmd-s': 'editor:scroll-down'
  'cmd-w': 'editor:scroll-up'
  'ctrl-cmd-a': 'editor:view-scroll-up'
  'ctrl-cmd-d': 'editor:view-scroll-down'
  'ctrl-cmd-s': 'editor:scroll-one-down'
  'ctrl-cmd-w': 'editor:scroll-one-up'
  'cmd-e': 'core:delete'
  'cmd-q': 'core:backspace'
  'cmd-d': 'atomic-emacs:forward-word'
  'cmd-a': 'atomic-emacs:backward-word'

'.advanced-open-file atom-text-editor':
  'cmd-p': 'advanced-open-file:move-cursor-up'
  'cmd-n': 'advanced-open-file:move-cursor-down'
  'enter': 'advanced-open-file:confirm-selected-or-first'
  'backspace': 'advanced-open-file:delete-path-component'

'atom-text-editor:not(.autocomplete-active):not(.mini)':
  'ctrl-w': 'atomic-emacs:previous-line'
  'ctrl-s': 'atomic-emacs:next-line'
  'cmd-v': 'unset!'
  'ctrl-j': 'editor:newline'

'body.platform-darwin':
  'cmd-c': 'atomic-emacs:copy-region-as-kill'
  'cmd-z': 'atomic-emacs:cut'

'body .native-key-bindings':
  'cmd-v': 'unset!'
  'ctrl-v': 'unset!'

'.platform-darwin atom-text-editor:not([mini])':
  'ctrl-cmd-left': 'tree-view:toggle'
  'ctrl-cmd-right': 'github:toggle-git-tab'

'.platform-darwin atom-workspace':
  'ctrl-`': 'platformio-ide-terminal:toggle'
  'ctrl-cmd-f': 'platformio-ide-terminal:focus'
  'ctrl-cmd-`': 'platformio-ide-terminal:fullscreen'

'.platform-darwin .platformio-ide-terminal .terminal':
  'cmd-v': 'platformio-ide-terminal:paste'
  'cmd-c': 'platformio-ide-terminal:copy'

'atom-workspace':
  'cmd-x': 'command-palette:toggle'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x ctrl-f': 'atomic-emacs:find-file'
  'ctrl-x k': 'core:close'
  'ctrl-g': 'core:cancel'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x 1': 'atomic-emacs:close-other-panes'
  'ctrl-x o': 'window:focus-next-pane'
  'ctrl-cmd-g': "go-to-line:toggle"
  'ctrl-cmd-o': 'center-cursor:toggle'

'body':
  'cmd-v': 'core:paste'
  #'cmd-c': 'core:copy'
  'ctrl-r': 'find-and-replace:find-previous-selected'
  'ctrl-x ctrl-s':'window:save-all'
  'cmd-p': 'core:move-up'
  'cmd-n': 'core:move-down'

'atom-text-editor':
  'ctrl-q': 'editor:move-to-beginning-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-cmd-\\': 'editor:auto-indent'


'.platform-darwin, .platform-linux':
  'ctrl-shift-F': 'project-find:show'
