# Install 'center-curosr', 'advnace-open-file'
# Check 'Use fuzzy check' in 'advnaced-open-file'

# Install 'disable-keybinding' package
# Check 'All Bundleed Packages' and 'All Community Packages'
# Fill 'ctrl-k' in 'Prefix Keys'

# Install 'atomic-emacs'
# Check 'Send kills to the system clipboard' and 'Use advanced-open-file for find file if available'
# Uncheck 'Enable' in Keybindings section

# Install: autocomplete-python, highlight-line (enable all style), language-cpp14
# python-indent, python-tools

'atom-workspace atom-text-editor':
  'alt-u': 'atomic-emacs:capitalize-word-or-region'
  'ctrl-d': 'atomic-emacs:forward-char'
  'ctrl-a': 'atomic-emacs:backward-char'
  'ctrl-x ctrl-s': 'window:save-all'
  'ctrl-x u': 'core:undo'
  'alt-c': 'unset!'
  'ctrl-k': 'atomic-emacs:kill-line'
  'alt-9': 'core:move-to-top'
  'alt-0': 'core:move-to-bottom'
  'ctrl-x h': 'atomic-emacs:mark-whole-buffer'
  'ctrl-space': 'atomic-emacs:set-mark'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-alt-up': 'editor:toggle-soft-wrap'
  'softWrap': true
  'alt-s': 'editor:scroll-down'
  'alt-w': 'editor:scroll-up'
  'ctrl-alt-a': 'editor:view-scroll-up'
  'ctrl-alt-d': 'editor:view-scroll-down'
  'ctrl-alt-s': 'editor:scroll-one-down'
  'ctrl-alt-w': 'editor:scroll-one-up'
  'alt-e': 'core:delete'
  'alt-q': 'core:backspace'
  'alt-d': 'atomic-emacs:forward-word'
  'alt-a': 'atomic-emacs:backward-word'

'.advanced-open-file atom-text-editor':
  'alt-p': 'advanced-open-file:move-cursor-up'
  'alt-n': 'advanced-open-file:move-cursor-down'

'atom-text-editor:not(.autocomplete-active):not(.mini)':
  'ctrl-w': 'atomic-emacs:previous-line'
  'ctrl-s': 'atomic-emacs:next-line'
  'alt-v': 'unset!'
  'ctrl-j': 'editor:newline'

'body.platform-win32':
  'alt-c': 'atomic-emacs:copy-region-as-kill'
  'alt-z': 'atomic-emacs:cut'

'body .native-key-bindings':
  'alt-v': 'unset!'
  'ctrl-v': 'unset!'

'.platform-win32 atom-text-editor:not([mini])':
  'ctrl-alt-left': 'tree-view:toggle'
  'ctrl-alt-right': 'github:toggle-git-tab'

'atom-workspace':
  'alt-x': 'command-palette:toggle'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x ctrl-f': 'atomic-emacs:find-file'
  'ctrl-x k': 'core:close'
  'ctrl-g': 'core:cancel'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x 1': 'atomic-emacs:close-other-panes'
  'ctrl-x o': 'window:focus-next-pane'
  'ctrl-alt-g': "go-to-line:toggle"
  'ctrl-alt-o': 'center-cursor:toggle'

'body':
  'alt-v': 'core:paste'
  #'alt-c': 'core:copy'
  'ctrl-r': 'find-and-replace:find-previous-selected'
  'ctrl-x ctrl-s':'window:save-all'
  'alt-p': 'core:move-up'
  'alt-n': 'core:move-down'

'atom-text-editor':
  'ctrl-q': 'editor:move-to-beginning-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-alt-\\': 'editor:auto-indent'


'.platform-win32, .platform-linux':
  'ctrl-shift-F': 'project-find:show'
